In [2]:
example = "python, java, javascript"
for content in example.split(","):
    print(content.strip())

python
java
javascript

In [4]:
example = "teamlab.technology.io"
subdomain, domain, tld = example.split(".")

In [5]:
subdomain

'teamlab'

In [6]:
domain

'technology'

In [9]:
colors = ["red", "blue" , "green", "yellow"]
" ".join(colors)

'red blue green yellow'

# List Comprehension

In [11]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
result = [i for i in range(10) if i %2 == 0]
result

[0, 2, 4, 6, 8]

In [24]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

# Filter

In [25]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [30]:
[i + j if not(i==j)else "BEE" for i in case_1 for j in case_2]

['AD', 'AE', 'BEE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

# Nested Loop

In [22]:
import pprint

In [23]:
word_1 = "Hello"
word_2 = "World"

pprint.pprint([ +j for i in word_1 for j in word_2])

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

# Two dimentional list

In [33]:
words = "The quick brown fox jumps over the lazy dog".split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
[[w.upper(), w.lower(), len(w)]for w in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [36]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]

In [37]:
[i + j for i in case_1 for j in case_2]

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [40]:
[[i+j for i in case_1 if i !="C"] for j in case_2]

[['AD', 'BD'], ['AE', 'BE'], ['AA', 'BA']]

# Enumerate

In [46]:
for i, v in enumerate("ABC"):
    print("{0} \t {1}".format(i,v))

0 	 A
1 	 B
2 	 C

In [48]:
my_str = "ABCD"
{v : i for i, v in enumerate(my_str)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

# Zip

In [52]:
alist = ["a1","a2","a3"]
blist = ["b1","b2","b3"]

[ [a,b] for a, b in zip(alist, blist)]

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [54]:
[ c for c in zip(alist,blist)]

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [56]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)

[sum(value) / 3 for value in zip(math, kor, eng)]

[93.33333333333333, 86.66666666666667, 73.33333333333333]

# enumerate & zip

In [59]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

for i, values in enumerate(zip(alist,blist)):
    print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [62]:
list(enumerate(zip(alist,blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

# Lambda

In [65]:
def f(x,y):
    return x+y

f(1,4)

5

In [67]:
f = (lambda x, y : x+y)
f(10,50)

60

In [69]:
(lambda x, y : x+y)(10,50)

60

In [71]:
up_low = lambda x : x.upper() + x.lower()
up_low("My Happy")

'MY HAPPYmy happy'

# Map

In [73]:
ex = [1,2,3,4,5]
f = lambda x : x**2
list(map(f,ex))

[1, 4, 9, 16, 25]

In [75]:
f = lambda x,y: x + y
list(map(f,ex,ex))

[2, 4, 6, 8, 10]

# reduce

In [1]:
from functools import reduce
reduce(lambda x, y: x + y, [1,2,3,4,5])

15

# Iterable objects

In [3]:
for city in ["Seoul", "Busan", "Pohang"]:
    print(city, end="\t")

Seoul	Busan	Pohang

In [5]:
for language in ("Python", "C", "Java"):
    print(language, end="\t")

Python	C	Java

In [7]:
cities  = ["Seoul", "Busan", "Jeju"]
cities

['Seoul', 'Busan', 'Jeju']

In [10]:
memory_address_cities = iter(cities)
memory_address_cities

In [12]:
next(memory_address_cities)

'Busan'

# Generator

In [21]:
def general_list(value):
    result = []
    for i in range(value):
        result.append(i)
    return result
print(general_list(50))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [26]:
import sys
result = general_list(50)
sys.getsizeof(result)

472

In [28]:
 def generator_list(value):
        result = []
        for i in range(value):
            yield i

In [30]:
result = generator_list(50)
sys.getsizeof(result)

112

# Generator Comprehension

In [33]:
gen_ex = (n*n for n in range(500))
print(type(gen_ex))

<class 'generator'>

In [37]:
list(gen_ex)

[]

# Why and When generator

In [3]:
from sys import getsizeof

gen_ex = (n*n for n in range(5000))
print(getsizeof(gen_ex))
print(getsizeof(list(gen_ex)))
list_ex = [n*n for n in range(5000)]
print(getsizeof(list_ex))

112
41880
41880

# Keyword arguments

In [9]:
def print_something(my_name, your_name, third_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_something(third_name="abc", my_name="noah",your_name="TEAMLAB")

Hello TEAMLAB, My name is noah

# Variable-length

In [15]:
def asterisk_test(a,b,*args):
    print(list(args))
    print(type(args))
    
asterisk_test(1,2,3,4,5)

[3, 4, 5]
<class 'tuple'>

# Keyword variable-length

In [17]:
def kwargs_test_1(**kwargs):
    print(kwargs)
    print(type(kwargs))
kwargs_test_1(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>